@model DbTables.Info
    
<div class="row">
    <h5 id="AboutError" class="text-danger" style="margin-left: 20px">@ViewBag.Error</h5>
    <h5 id="AboutSuccess" class="text-success" style="margin-left: 20px">@ViewBag.Success</h5>

    <div class="col-md-12">
        <button class="btn btn-primary" onclick="showAbout()" style="float: right;">Rediger <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    </div>
</div>
<br/>
<table class="table table-bordered">
    <thead>
    <tr>
        <th style="text-align: center;">Adresse</th>
        <th style="text-align: center;">Kontakt</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        @if (Model.Adress == null)
        {
            <td>Ingen adresse lagt til</td>

        }
        else if (string.IsNullOrEmpty(Model.Adress.StreetAdress) && string.IsNullOrEmpty(Model.Adress.City) && string.IsNullOrEmpty(Model.Adress.County) && Model.Adress.PostCode == null)
        {
            <td>Ingen adresse lagt til</td>
        }
        else
        {
            <td>
                <dl class="dl-horizontal">
                    @if (!string.IsNullOrEmpty(Model.Adress.StreetAdress))
                    {
                        <dt>Gateadresse:</dt>

                        <dd>@Model.Adress.StreetAdress</dd>
            }

                    @if (Model.Adress.PostCode != null)
                    {
                    <dt>Postkode:</dt>

                        <dd>@Model.Adress.PostCode</dd>
                    }

                    @if (!string.IsNullOrEmpty(Model.Adress.City))
                    {
                        <dt>Kommune:</dt>
                        <dd>@Model.Adress.City</dd>
                    }
                    
                    @if (!string.IsNullOrEmpty(Model.Adress.County))
                    {
                        <dt>Fylke:</dt>
                        <dd>@Model.Adress.County</dd>
                    }

                </dl>
            </td>
        }
        @if (string.IsNullOrEmpty(Model.Email) && string.IsNullOrEmpty(Model.Phone))
        {
            <td>Ingen kontaktinformasjon lagt til</td>
        }
        else
        {
            <td>
                <dl class="dl-horizontal">
                    @if (Model.Phone != null)
                    {
                        <dt>Tlf:</dt>
                        <dd>@Model.Phone</dd>

                    }

                    @if (Model.Email != null)
                    {
                        <dt>Email:</dt>
                        <dd> @Model.Email</dd>
                    }

                </dl>
            </td>
        }
    </tr>

    </tbody>
</table>
@if (!string.IsNullOrEmpty(Model.About))
{
    <hr style="border: 1px solid gray" />
    <h4 style="text-align: center">Om oss</h4>
    <p style="text-align: center">Tekst som vises på "om oss" siden</p>
    <br />
    <div class="AboutText">
        <p>@Model.About</p>
    </div>
}
@if (!string.IsNullOrEmpty(Model.DonateText))
{
    <hr style="border: 1px solid gray" />
    <h4 style="text-align: center">Om donasjoner</h4>
    <p style="text-align: center">Tekst som vises på ved siden av donasjonsfunksjonen</p>
    <br/>
    <div class="AboutText">
        <p>@Model.DonateText</p>
    </div>

}
@if (!string.IsNullOrEmpty(Model.MembershipText))
{
    <hr style="border: 1px solid gray" />
    <h4 style="text-align: center">Om medlemskap</h4>
    <p style="text-align: center">Tekst som vises ved siden av medlemskapsfunksjonen</p>
    <br />
    <div class="AboutText">
        <p>@Model.MembershipText</p>
    </div>
}
<br />
<script type="x/template" id="AboutTemplate">
    <div class="modal-mask" v-on:click="close" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container" style="width:1000px;" v-on:click.stop>

                <div class="modal-header">
                    <slot name="header">
                    </slot>
                </div>

                <div class="modal-body">
                    <slot name="body">

                    </slot>

                </div>

                <div class="modal-footer">
                    <slot name="footer">
                        <button class="btn btn-primary btn-primary" id="knapp" v-on:click="closeButton">Lagre <span class="glyphicon glyphicon-floppy-save"></span></button>

                    </slot>
                </div>
            </div>
        </div>
    </div>
</script>

<div id="About">

    <modal :show.sync="showModal">

        <h3 slot="header" style="text-align: center;">Informasjon om organisasjonen</h3>
        <h5 slot="body">
            @using (Ajax.BeginForm("EditAbout", "Various", new AjaxOptions
            {

                UpdateTargetId = "AboutUpdate",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",

            }, new { @class = "form-horizontal", role = "form", id = "AboutForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    <h4 style="text-align: center">Kontakt</h4>
                    <hr style="border: 1px solid gray"/>
                    <br />
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input name="Email" value="@Model.Email" class="form-control" id="">
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input name="Phone" value="@Model.Phone" class="form-control" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br/>
                    <h4 style="text-align: center;">Adresse</h4>
                    <hr style="border: 1px solid gray" />
                    <br/>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">

                            @if (Model.Adress != null)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress.StreetAdress, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input name="Adress.StreetAdress" value="@Model.Adress.StreetAdress" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress.PostCode, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input name="Adress.PostCode" value="@Model.Adress.PostCode" type="number" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress.City, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input name="Adress.City" value="@Model.Adress.City" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress.County, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input name="Adress.County" value="@Model.Adress.County" class="form-control" id="">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress.StreetAdress, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input name="Adress.StreetAdress" value="" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress.PostCode, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input name="Adress.PostCode" value="" type="number" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress.City, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input name="Adress.City" value="" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adress.County, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input name="Adress.County" value="" class="form-control" id="">
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br />
                    <h4 style="text-align: center;">Om oss</h4>
                    <p style="text-align: center;">Dette er tekst som vises på "om oss siden"</p>
                    <hr style="border: 1px solid gray" />
                    <br />
                    <textarea class="form-control" Name="About" style="max-width: 100%; height: 200px">@Model.About</textarea>
                    
                    <br />
                    <h4 style="text-align: center;">Om donasjoner</h4>
                    <p style="text-align: center;">Dette er tekst som vises ved siden av donasjonene</p>
                    <hr style="border: 1px solid gray" />
                    <br />
                    <textarea class="form-control" Name="DonateText" style="max-width: 100%; height: 200px">@Model.DonateText</textarea>
                    
                    <br />
                    <h4 style="text-align: center;">Om medlemskap</h4>
                    <p style="text-align: center;">Dette er tekst som vises ved siden av "bli medlem" funksjonaliteten</p>
                    <hr style="border: 1px solid gray" />
                    <br />
                    <textarea class="form-control" Name="MembershipText" style="max-width: 100%; height: 200px">@Model.MembershipText</textarea>
                </div>

            }
        </h5>
    </modal>
</div>

<script>
    //about
    Vue.component('modal', {
        template: '#AboutTemplate',
        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true

            }
        },
        methods: {
            close: function () {
                this.show = false;
            },
            closeButton: function () {
                $("form#AboutForm").submit();
                this.show = false;

            }
        },
        ready: function () {
            document.addEventListener("keydown", (e) => {
                if (this.show && e.keyCode == 27) {
                    this.close();
                } else if (this.show && e.keyCode == 13) {
                    e.preventDefault();
                    this.closeButton();
                }
            });
        }
    });

    var aboutVue = new Vue({
        el: '#About',
        data: {
            showModal: false,
        }
    });
</script>