@model DbTables.Disqus
<div class="row">
    <h5 id="DisqusError" class="text-danger" style="margin-left: 20px">@ViewBag.Error</h5>
    <h5 id="DisqusSuccess" class="text-success" style="margin-left: 20px">@ViewBag.Success</h5>
    @if (Model.Id != 0)
    {
        if (Model.Enabeled)
        {
            <button class="btn btn-danger" onclick="enableDisqus(false)" style="float: right; margin-bottom: 5px; margin-right: 20px;">Slå av <i class="fa fa-stop" aria-hidden="true"></i></button>
        }
        else
        {
            <button class="btn btn-success" onclick="enableDisqus(true)" style="float: right; margin-bottom: 5px; margin-right: 20px;">Slå på <i class="fa fa-play" aria-hidden="true"></i></button>
        }
    }
    <div class="col-md-2">
        <h4>Disqus</h4>
    </div>
    <div class="col-md-10">
        <button class="btn btn-primary" onclick="showDisqus()" style="float: right;">Rediger <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Url</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        @if (string.IsNullOrWhiteSpace(Model.DisqusUrl))
        {
            <td>Ingen url funnet</td>
        }
        else
        {
            <td>@Model.DisqusUrl</td>
        }

    </tr>
    </tbody>
</table>

@*Sendgrid*@
<script type="x/template" id="DisqusTemplate">
    <div class="modal-mask" v-on:click="close" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container" v-on:click.stop>

                <div class="modal-header">
                    <slot name="header">
                    </slot>
                </div>

                <div class="modal-body">
                    <slot name="body">

                    </slot>

                </div>

                <div class="modal-footer">
                    <slot name="footer">
                        <button class="btn btn-primary btn-primary" id="knapp" v-on:click="closeButton">Lagre <span class="glyphicon glyphicon-floppy-save"></span></button>

                    </slot>
                </div>
            </div>
        </div>
    </div>
</script>

<div id="Disqus">

    <modal :show.sync="showModal">

        <h3 slot="header" style="text-align: center;">Disqus</h3>
        <h5 slot="body">
            @using (Ajax.BeginForm("EditDisqus", "Various", new AjaxOptions
            {
                UpdateTargetId = "updateDisqus",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST"
            }, new {@class = "form-horizontal", role = "form", id = "DisqusForm"}))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.DisqusUrl, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            <input name="DisqusUrl" value="@Model.DisqusUrl" class="form-control" id="model">
                        </div>
                    </div>

                </div>
            }
        </h5>
    </modal>
</div>
<script>
    //sendgrid
    Vue.component('modal',
    {
        template: '#DisqusTemplate',
        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true

            }
        },
        methods: {
            close: function() {
                this.show = false;
            },
            closeButton: function() {
                $("form#DisqusForm").submit();
                this.show = false;

            }
        },
        ready: function() {
            document.addEventListener("keydown",
                (e) => {
                    if (this.show && e.keyCode == 27) {
                        this.close();
                    } else if (this.show && e.keyCode == 13) {
                        e.preventDefault();
                        this.closeButton();
                    }
                });
        }
    });

    var disqusVue = new Vue({
        el: '#Disqus',
        data: {
            showModal: false,
        }
    });
</script>