@model ButterflyFriends.Areas.Admin.Models.VariousModel
@{
    ViewBag.Title = "Diverse";
}
<h3 style="text-align: center;">Diverse</h3>

<div class="loader" style="position: fixed; top: 50% !important;" hidden></div>
<br/>
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#APIkeys">
            <b>API nøkler og sosiale media</b>
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#Files">
            <b>Filer</b>
        </a>
    </li>
    <li>
        <a data-toggle="tab" href="#About">
            <b>Om oss</b>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div id="APIkeys" class="tab-pane fade in active">
        <div class="solidBorder">
            <h3 style="text-align: center">API nøkler</h3>
            <div id="upadteSendGrid">
                @Html.Partial("_SendGridPartial", Model.SendGridAPI)
            </div>

            <br/>
            <hr style="border: 1px solid black;"/>
            <br/>
            <div id="updateRecaptcha">
                @Html.Partial("_RecaptchaPartial", Model.GoogleCaptchaAPI)
            </div>
            <br/>
            <hr style="border: 1px solid black;"/>
            <br/>
            <div id="updateStripe">
                @Html.Partial("_StripePartial", Model.StripeAPI)
            </div>
            <br/>
            <hr style="border: 1px solid black;"/>
            <br/>
            <div id="updateFacebook">
                @Html.Partial("_FacebookPartial", Model.Facebook)
            </div>
            <br/>
            <hr style="border: 1px solid black;"/>
            <br/>
            <div id="updateTwitter">
                @Html.Partial("_TwitterPartial", Model.Twitter)
            </div>
            <br/>
            <hr style="border: 1px solid black;"/>
            <br/>
            <div id="updateDisqus">
                @Html.Partial("_DisqusPartial", Model.Disqus)
            </div>
            <br/>
        </div>
    </div>
    <div id="Files" class="tab-pane fade">
        <div class="solidBorder">

            <h3 style="text-align: center">Brukervilkår</h3>
            <p style="text-align: center">Last upp sidens brukervillkår i pdf format</p>

            <div id="TermsOfUserUpdate">
                @Html.Partial("_TermsOfUserPartial", Model.Terms)
            </div>
        </div>
        <br/>
        <div class="solidBorder">
            <h3 style="text-align: center">Bildekarusell</h3>
            <p style="text-align: center">Last upp bilder og videoer som vises på forsiden</p>

            <div id="CarouselUpdate">
                @Html.Partial("_ImageCarouselPartial", Model.Carousel)
            </div>
        </div>
        <br/>
        <div class="solidBorder">
            <h3 style="text-align: center">Bakgrunnsbilde</h3>
            <p style="text-align: center">Last upp et bilde som vises som bakgrunn på siden</p>

            <div id="BackgroundUpdate">
                @Html.Partial("_BackgroundImagePartial", Model.Background)
            </div>
        </div>
    </div>
    <div id="About" class="tab-pane fade">
        <div class="solidBorder">
            <h3 style="text-align: center">Info</h3>
            <p style="text-align: center">Info som vises på forsiden og på "om oss" siden</p>

            <div id="AboutUpdate">
                @Html.Partial("_AboutPartial", Model.About)
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Various.min.js"></script>