@using ButterflyFriends.Areas.Admin.Controllers
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@model ButterflyFriends.Areas.Admin.Models.HRmanagementModels.EmployeeDetailsModel


@{

    var fullname = Model.User.Fname + " " + Model.User.Lname;
    var mailto = "mailto:" + Model.User.Email;
    var ModalId = Model.User.Id + "s";
    var formId = "deleteSponsorShowForm";
    HRManagementController HR = new HRManagementController();
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = userManager.FindByIdAsync(User.Identity.GetUserId()).Result;
    var currentUserRoleNr = user.RoleNr;
    var RoleNr = Model.User.RoleNr;
}

<script type="x/template" id="@ModalId">
    <div class="modal-mask" v-on:click="close" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container" v-on:click.stop>

                <div class="modal-header">
                    <slot name="header">
                    </slot>
                </div>

                <div class="modal-body">
                    <slot name="body">
                    </slot>
                </div>

                <div class="modal-footer">
                    <slot name="footer">
                        <button class="modal-default-button btn-primary btn"
                                v-on:click="close">
                            OK <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</script>

<div id="Box">

    <modal :show.sync="showModal">
        <h3 slot="header">
            @if (currentUserRoleNr < RoleNr)
            {
                using (Ajax.BeginForm("showSponsorDelete", "HRManagement", new { id = Model.User.Id, sponsorPage = ViewBag.sponsorPage }, new AjaxOptions
                {
                    UpdateTargetId = "DeleteModal",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",


                }, new { @class = "form-horizontal", id = formId }))
                {
                }
                <div class="row">
                    <div calss="col-md-11" style="float: right">
                        <button class="btn btn-danger" onclick="submitForm()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

                    </div>
                    <div calss="col-md-1">
                        @fullname
                    </div>
                    <h5 id="roleError" class="text-danger" style="text-align: center;"></h5>


                </div>
            }
            else
            {
                <span style="text-align: center">@fullname</span>
            }
        </h3>
        <h5 slot="body">
            <p class="text-success" id="success">@ViewBag.Success</p>
            <p class="text-danger" id="error">@ViewBag.Error</p>
            <div id="profilePicture">
                @Html.Partial("UploadImagePartials/_ProfileImagePartial", Model.File)
            </div>
            <hr/>
            <p>Profil informasjon</p>
            <dl class="dl-horizontal">
                <dt>
                    Email:
                </dt>
                <dd>
                    <a href="mailto:@mailto">@Html.DisplayFor(modelItem => Model.User.Email)</a>
                </dd>

                <dt>
                    Gateadresse:
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.User.Adress.StreetAdress)
                </dd>
                <dt>
                    Poststed:
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.User.Adress.City)
                </dd>
                <dt>
                    Postnummer:
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.User.Adress.PostCode)
                </dd>
                <dt>
                    Fylke:
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.User.Adress.County)
                </dd>
                <dt>
                    Tlf:
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.User.Phone)
                </dd>
                <dt>
                    Brukerolle:
                </dt>
                <dd>
                    @HR.ResolveUserRole(Model.User.RoleNr)
                </dd>
                @if (!string.IsNullOrEmpty(Model.User.BirthNumber))
                {
                    <dt>
                        Fødselsnummer:
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => Model.User.BirthNumber)
                    </dd>
                }
                @if (Model.User.InactiveSince != null)
                {
                    <dt>
                        Tid siden sist aktiv:
                    </dt>
                    <dd>
                        @Convert.ToInt32(DateTime.Now.Subtract(Model.User.InactiveSince.Value).TotalDays) dag(er)
                    </dd>
                }
            </dl>
            <hr/>
            <p>Velg et nytt profilbilde</p>
            <input type="file" id="files" name="files[]"/>
            <output id="output"></output>

        </h5>
    </modal>
</div>

<script>
                            Vue.component('modal', {
                                template: '#@ModalId',
                                props: {
                                    show: {
                                        type: Boolean,
                                        required: true,
                                        twoWay: true

                                    }
                                },
                                methods: {
                                    close: function() {
                                        this.show = false;
                                    }
                                },
                                ready: function () {
                                    this.show = true;
                                    document.addEventListener("keydown", (e) => {
                                        if (this.show && e.keyCode == 27) {

                                            this.close();
                                        }
                                        else if (this.show && e.keyCode == 13) {
                                            e.preventDefault();
                                            this.close();
                                        }


                                    });
                                }
                            });
    var vueSponsorDetails =  new Vue({
                                el: '#Box',
                                data: {
                                    showModal: false
                                }
                            });

                            function handleFileSelect(evt) {
                                var files = evt.target.files; // FileList object

                                var output = document.getElementById("output");
                                while (output.firstChild) {
                                    output.removeChild(output.firstChild);
                                }

                                // Loop through the FileList and render image files as thumbnails.
                                for (var i = 0, f; f = files[i]; i++) {
                                    //f.num = i;

                                    $("#success").text('');
                                    // Only process image files.
                                    if (!f.type.match('image.*')) {
                                        $("#error").text('Profilbildet må være et bilde');
                                        document.getElementById("files").value = "";
                                        continue;
                                    }
                                    $("#error").text('');

                                    var reader = new FileReader();

                                    // Closure to capture the file information.
                                    reader.onload = (function (theFile) {
                                        return function (e) {
                                            // Render thumbnail.
                                            var span = document.createElement('span');
                                            var id = "img"; //theFile.num;
                                            span.innerHTML = [
                                                '<img class="profileImageShow" id="', id, '" src="', e.target.result,
                                                '" title="', escape(theFile.name), '"/><btn id="', id + "b",
                                                '" class="btn btn-primary"><span class="glyphicon glyphicon-open"></span> Last opp</btn><br/><br/><div class="statustxt" id="', id + "t", '">0%</div><div class="progress"><div id="', id + 'p', '" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div></div>'
                                            ].join('');
                                            document.getElementById('output').insertBefore(span, null);

                                            addHandeler(id);

                                        };
                                    })(f);

                                    // Read in the image file as a data URL.
                                    reader.readAsDataURL(f);
                                }
                            }

                            document.getElementById('files').addEventListener('change', handleFileSelect, false);

                            function addHandeler(id) {
                                $("#" + id + "b").on('click', function () {
                                    var fileUpload = $("#files").get(0);
                                    var files = fileUpload.files;
                                    if (files[0].type.match('image.*')) {
                                        sendFile(id);
                                    } else {
                                        alert("Du kan kun laste opp bilder");
                                    }
                                });
                            }

                            function sendFile(id) {



                                // Checking whether FormData is available in browser
                                if (window.FormData !== undefined) {

                                    var fileUpload = $("#files").get(0);
                                    var files = fileUpload.files;

                                    // Create FormData object
                                    var fileData = new FormData();

                                    // Looping over all files and add it to FormData object
                                    //there will only be one image, but let's just loop over just incase we want to expand the code in the future
                                    for (var i = 0; i < files.length; i++) {
                                        fileData.append(files[i].name, files[i]);
                                    }
                                    fileData.append('userid', "@Model.User.Id");
                                    fileData.append('type', "@Model.File.Type");
                                    $.ajax({
                                        url: '/Admin/HRManagement/ProfilePictureUpload',
                                        type: "POST",
                                        contentType: false, // Not to set any content header
                                        processData: false, // Not to process data
                                        data: fileData,
                                        xhr: function () {  // Custom XMLHttpRequest
                                            var myXhr = $.ajaxSettings.xhr();
                                            if (myXhr.upload) { // Check if upload property exists

                                                // For handling the progress of the upload
                                                myXhr.upload.id = id;
                                                myXhr.upload.addEventListener('progress', progressHandlingFunction, false);

                                            }
                                            return myXhr;
                                        }
                                        ,
                                        success: function (result) {
                                            $('#success').text('Profilbildet ble suksessfullt lastet opp');
                                            $("#profilePicture").html(result);
                                            var output = document.getElementById("output");
                                            while (output.firstChild) {
                                                output.removeChild(output.firstChild);
                                            }
                                            document.getElementById("files").value = "";


                                        },
                                        error: function (err) {
                                            $('#' + id + "t").text(err.statusText);
                                        }
                                    });
                                } else {
                                    alert("FormData er ikke støttet.");
                                }
                            }

                            function progressHandlingFunction(e) {
                                var id = e.target.id;
                                if (e.lengthComputable) {
                                    var percentage = Math.floor((e.loaded / e.total) * 100);
                                    //update progressbar percent complete
                                    $('#' + id + "t").text(percentage + '%');
                                    $('#' + id + "p").css("width", percentage + '%');
                                }
                            }

                            function submitForm() {
                                if (parseInt("@RoleNr") > parseInt("@currentUserRoleNr")) {
                                    $("form#@formId").submit();
                                } else {
                                    $("#roleError").text("Du kan ikke slette en med høyere eller samme brukernivå som deg.");
                                }
                            }
</script>
