@model IList<ButterflyFriends.Models.DbTables.File>
@{
    ViewBag.Title = "Images";
    var k = 0;

    var imgId = 0;
    var divId = 0 + "d";
}

<h2>Images</h2>
@if (Model.Count == 0)
{
    return;
}
<p>Images: @Model.Count</p>
<hr/>
@foreach (var item in Model)
{ 
    <div id="@divId" style="position: relative;">
        <img src="~/File?id=@item.FileId" onload="imgFunc(this)" id="@imgId" style="position: relative; width: 750px;" />
        
        @foreach (var tagBox in item.Tags)
        {
            var width = @tagBox.width+"px";
            var height = @tagBox.height + "px";
            var x = @tagBox.x + "px";
            var y = @tagBox.y + "px";
            var id = "test" + k;
            <div class="showBox" style="width: @width; height: @height; left: @x; top: @y">
                <input value="@tagBox.Name" disabled/>
            </div>
        }
        @{
            imgId += 1;
            divId = imgId +"d";

        }
    </div>

    
}

<script>
    function imgFunc(img) {
        
        //console.log(img);
        //var img = this;
        var originalHeight = $(img).get(0).naturalHeight;
        var originalWidth = $(img).get(0).naturalWidth;
        var displayedWidth = parseInt($(img).css("width"), 10);
        var displayedHeight = parseInt($(img).css("height"), 10);
        var scaleY = displayedHeight / originalHeight;
        var scaleX = displayedWidth / originalWidth;
        var id = img.id;
        $('#' + id + 'd').children('div').each(function () {           
            var width = parseInt($(this).css("width"));
            var height = parseInt($(this).css("height"));
            var x = parseInt($(this).css("left"));
            var y = parseInt($(this).css("top"));

            var newWidth = width * scaleX;
            var newHeight = height * scaleY;
            var newX = x * scaleX;
            var newY = (y * scaleY)-10;
            $(this).css("width", newWidth);
            $(this).css("height", newHeight);
            $(this).css("top", newY);
            $(this).css("left", newX);
        });
    }
    $(document).ready(function () {
      /* 
        console.log(something);
        
        var parentOffset = $("#testDiv").parent().offset();
        var current = parseInt($("#test0").css("left"));
        var currentY = parseInt($("#test0").css("top"));
        var left = current + parentOffset.left;
        var top = currentY + parentOffset.top;

        console.log(left);
        $("#test0").css("left", left);
        $("#test0").css("top", top);*/
    });

</script>