@model ButterflyFriends.Models.ProfileViewModel
@{
    ViewBag.Title = "Profil";
}

@*<div class="loader-mask"></div>*@
<div class="loader"></div>
<h2>@ViewBag.Title</h2>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<div id="update"></div>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Rediger din informasjon</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>Passord:</dt>
        <dd>
            [
            @if (Model.Index.HasPassword)
            {
                @Html.ActionLink("Endre passord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Lag passord", "SetPassword")
            }
            ]
        </dd>
        <div id="ProfileUpdate">
            @Html.Partial("_UserInfoPartial", Model.Profile)
        </div>
        <dt></dt>
        <dd>
            @using (Ajax.BeginForm("ShowUserEdit", "Manage", new
            {
                id = Model.Profile.Id
            }, new AjaxOptions
            {
                UpdateTargetId = "update",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",


            }, new { @class = "form-horizontal", role = "form" }))
            {
                <button type="submit" class="btn btn-primary btn-primary">Endre profil info  <span class="glyphicon glyphicon-floppy-open"></span></button>

            }
        </dd>
    </dl>
</div>

<script>
    $(document).ready(function () {
        $(".loader").hide();
        //$(".loader-mask").hide();
        $(document).ajaxStart(function () {
            $(".loader").show();
            //$(".loader-mask").show();
        }).ajaxStop(function () {
            $(".loader").hide();
            //$(".loader-mask").hide();
        });
    });


</script>