@model ButterflyFriends.Models.DbTables.Article
@{
    var date = @Model.LastSavedDateTime.Day + ". " + Model.LastSavedDateTime.ToString("MMMM") + " " + Model.LastSavedDateTime.Year;
}
<link href="~/Scripts/ContentTools/editor.css" rel="stylesheet" />
 
<div>
    <article class="article">
        <section class="article__content">
            <div>
                @Html.Raw(Model.Header)
            </div>
            <div>
                @Html.Raw(Model.Preamble)
            </div>
            <div>
                @Html.Raw(Model.Content)
            </div>
        </section>
       
    </article>
    <hr />
    <p><i>Sist endret: </i><b>@date</b></p>
</div>
