@model IList<DbTables.Article>
<div class="row">
    <h5 class="text-success statusText" style="padding-left: 55px;">@ViewBag.Message</h5>
    <div class="col-md-6 article-column">
        @foreach (var article in Model)
        {
            <div>

                <h3>
                    <a href="@Url.Action("Article", "PR", new {id = article.Id, area = "Admin"})">
                        @article.Name
                    </a>
                </h3>
            </div>

            <br/>
        }
    </div>
    <div class="col-md-6 writeButtons separate">
        <div class="row">
            <div class="col-md-6">
                <span id="desc-text">{{ description }}</span>
            </div>
            <div class="col-md-6">
                <a class="btn btn-lg btn-primary center-block home-button-link"
                   href='@Url.Action("New", "PR")'
                   style="width: 14em; margin-top: 1em; margin-bottom: 1em;"
                   v-on:mouseover="NewArticle"
                   v-on:mouseleave="MouseLeave">
                    Nytt innlegg
                </a>
                <a class="btn btn-lg btn-primary center-block home-button-link"
                   href='@Url.Action("Email", "PR")'
                   style="width: 14em; margin-top: 1em; margin-bottom: 1em;"
                   v-on:mouseover="SendEmail"
                   v-on:mouseleave="MouseLeave">
                    Skriv email
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: 'body',

        data: {
            description: ""
        },

        methods: {
            NewArticle: function () {
                this
                    .description =
                    "Skriv blogginlegg som kan legges ut på sidens forside";
            },

            MouseLeave: function () {
                this.description = "";
            },

            SendEmail: function () {
                this
                    .description =
                    "Send email til registrerte brukere";
            }
        }
    });
</script>