@model ButterflyFriends.Areas.Admin.Models.HRmanagementModels.ChildCreateModel

@{

    var formId = "childEditForm";
    var ModalId = Model.Child.Id + "n";
}

<div id="Box">

    <modal :show.sync="showModal">
        <h3 slot="header">Rediger fadderbarn</h3>
        <h5 slot="body">
            @using (Ajax.BeginForm("ChildEdit", "HRManagement", new {ViewBag.childrenPage}, new AjaxOptions
            {
                UpdateTargetId = "updateChildren",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST"
            }, new {@class = "form-horizontal", role = "form", id = formId}))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Child.Id)

                    <div class="form-group">
                        @Html.LabelFor(m => m.Child.Fname, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Child.Fname, new {@class = "form-control", required = "required"})

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Child.Lname, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Child.Lname, new {@class = "form-control", required = "required"})

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Child.DoB, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            <input type="text" id="datepicker" name="Child.DoB" value="@Model.Child.DoB.ToString("dd/MM/yyyy")" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Fadder</label>
                        <div class="col-md-10">
                            <input type="text" id="sponsor" Name="SponsorName" value="@Model.SponsorName" class="form-control">
                        </div>
                    </div>

                    <input type="hidden" id="hiddenId" name="Child.SponsorId" value="@Model.Child.SponsorId" class="form-control">

                </div>
            }
        </h5>
    </modal>
</div>

<script type="x/template" id="@ModalId">
    <div class="modal-mask" v-on:click="close" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container" v-on:click.stop>

                <div class="modal-header">
                    <slot name="header">
                    </slot>
                </div>

                <div class="modal-body">
                    <slot name="body">

                    </slot>

                </div>

                <div class="modal-footer">
                    <slot name="footer">
                        <button class="btn btn-primary btn-primary" id="knapp" v-on:click="closeButton">Lagre <span class="glyphicon glyphicon-floppy-save"></span></button>

                    </slot>
                </div>
            </div>
        </div>
    </div>
</script>

<script>

    Vue.component('modal',
    {
        template: '#@ModalId',
        props: {
            show: {
                type: Boolean,
                required: true,
                twoWay: true

            }
        },
        methods: {
            close: function() {
                this.show = false;
            },
            closeButton: function() {

                $('<input />')
                    .attr('type', 'hidden')
                    .attr('name', "search")
                    .attr('value', $('#ChildsearchField').val())
                    .appendTo('#@formId');

                $('<input />')
                    .attr('type', 'hidden')
                    .attr('name', "active")
                    .attr('value', $('#ChildActive input:radio:checked').val())
                    .appendTo('#@formId');

                $('<input />')
                    .attr('type', 'hidden')
                    .attr('name', 'order')
                    .attr('value', $('#ChildOrderFilter input:radio:checked').val())
                    .appendTo('#@formId');

                $('<input />')
                    .attr('type', 'hidden')
                    .attr('name', 'filter')
                    .attr('value', $("#ChildSelected option:selected").val())
                    .appendTo('#@formId');

                $('<input />')
                    .attr('type', 'hidden')
                    .attr('name', 'ChildDoB')
                    .attr('value', $('#ChildDoB').val())
                    .appendTo('#@formId');

                $('<input />')
                    .attr('type', 'hidden')
                    .attr('name', 'ChildSponsor')
                    .attr('value', $('#ChildSponsor').val())
                    .appendTo('#@formId');

                $("form#@formId").submit();
                this.show = false;

            }
        },
        ready: function() {
            this.show = true;
            document.addEventListener("keydown",
                (e) => {
                    if (this.show && e.keyCode == 27) {
                        this.close();
                    } else if (this.show && e.keyCode == 13) {
                        e.preventDefault();
                        this.closeButton();

                    }
                });
        }
    });

    new Vue({
        el: '#Box',
        data: {
            showModal: false,
        },
        methods: {
            showModalf: function() {
                this.showModal = true;
            }

        }

    });


    $(function() {
        $("#datepicker")
            .datepicker({
                dateFormat: "dd.mm.yy"
            });
    });


    $("#sponsor")
        .on('input',
            function() {
                if (!($(this).val())) {
                    return;
                }
                var text = $("#sponsor").val();
                $.ajax({
                    url: '/Admin/HRManagement/GetUsers',
                    async: true,
                    contentType: false, //"application/json; charset=utf-8",
                    processData: false,
                    type: "POST",
                    dataType: "json",
                    data: text, //JSON.stringify(data),
                    xhr: function() { // Custom XMLHttpRequest
                        var myXhr = $.ajaxSettings.xhr();
                        if (myXhr.upload) { // Check if upload property exists

                            // For handling the progress of the upload
                            //myXhr.upload.id = id;
                            //myXhr.upload.addEventListener('progress', progressHandlingFunction, false);

                        }
                        return myXhr;
                    },
                    success: function(result) {
                        var tags = [];
                        for (var i = 0; i < result.length; i++) {
                            var obj = {
                                label: result[i].Name,
                                id: result[i].Id,
                                imgid: result[i].imgId,
                                email: result[i].email
                            };
                            tags.push(obj);


                        }
                        //console.log(tags);
                        $("#sponsor")
                            .autocomplete({
                                source: tags,
                                select: function(event, ui) {
                                    $("#hiddenId").attr("value", ui.item.id);

                                },
                                focus: function(event, ui) {
                                    $("#sponsor").val(ui.item.label);
                                    return false;
                                }
                            })
                            .bind("keydown.autocomplete")
                            .keydown(function(e) {
                                if (e.keyCode == 13) {
                                    e.stopPropagation();
                                };
                            });

                        $("#sponsor").data("ui-autocomplete")._renderItem = function(ul, item) {

                            if (item.imgid === 0) {

                                var $li = $('<li>');

                                var $div;
                                if (item.email == "") {
                                    $div =
                                        $('<label class="autoLabel"><div class="row"><div class="col-md-3"><i class="fa fa-question-circle autoQuestionChild" aria-hidden="true"></i></div><div class="col-md-9">' + item.label + '</div></div></label>');

                                } else {
                                    $div =
                                        $('<label class="autoLabel"><div class="row"><div class="col-md-3"><i class="fa fa-question-circle autoQuestion" aria-hidden="true"></i></div><div class="col-md-9">' + item.label + '<br><span class="autoEmailStyle">' + item.email + '</span></div></div></label>');

                                }

                                $li.attr('data-value', item.label);
                                $li.append('<a>');
                                $li.find('a').append($div);

                                return $li.appendTo(ul);
                            }
                            var $li = $('<li>');

                            var $div;
                            if (item.email == "") {
                                $div =
                                    $('<label class="autoLabel"><div class="row"><div class="col-md-3"><img src="../FileAdmin?id=' + item.imgid + '" class="thumbnailShow"></div><div class="col-md-9">' + item.label + '</div></div></label>');
                            } else {
                                $div =
                                    $('<label class="autoLabel"><div class="row"><div class="col-md-3"><img src="../FileAdmin?id=' + item.imgid + '" class="thumbnailShow"></div><div class="col-md-9">' + item.label + '<br><span class="autoEmailStyle">' + item.email + '</span></div></div></label>');

                            }

                            $li.attr('data-value', item.label);
                            $li.append('<a>');
                            $li.find('a').append($div);

                            return $li.appendTo(ul);

                        };
                        $("#sponsor").autocomplete("search", text);


                    },
                    error: function(err) {
                        alert(err.statusText);
                        console.log(err);
                    }
                });
            });
</script>